.tools-spacer-small {
    margin-top:5px;
    margin-bottom:5px;      
}

.tools-spacer-medium {
    margin-top:10px;
    margin-bottom:10px;  
}

.tools-spacer-large {
    margin-top:15px;
    margin-bottom:15px;  
}